<!doctype html>            
<html lang="en">
    <head>
        <meta charset="utf-8">    
        <title>Cat Info</title>
        <!-- <link rel="stylesheet" href="css/styles.css">     -->
    </head>
    <body>
        <a href="/">Home</a>    
        <h1>Cat:</h1>
            <h4>Name: <%= cats.name %></a><h4>
            <h4> Breed: <%= cats.breed %></h4>
            <h4> Description: <%= cats.description %></h4>
            <h4> Weight (in lbs): <%= cats.weight %></h4>
    </body>