.boxon{
    background-color: green;
    margin-left: 35px;
    margin-top: 35px;
}
.boxoff{
    background-color: red;
    margin-left: 35px;
    margin-top: 35px;
}
.box{
    width: 100px;
    height: 100px;
    background-color: brown;
    border: 1px solid black;
    float: left;
}