<div>
<table>
    <tr>
      <th><h3>Farm</h3></th>
      <th><h3>Cave</h3></th> 
      <th><h3>Casino</h3></th>
      <th><h3>House</h3></th>
    </tr>
    <tr>
      <td><p> Earns 2-5 Gold </p></td>
      <td><p> Earns 5-10 Gold </p></td> 
      <td><p> Earn up to or Lose up to 100 Gold </p></td>
      <td><p> Earns 10-15 Gold </p></td>
    </tr>
    <tr>
      <td><button (click)="farm()">Farm!</button></td>
      <td><button (click)="cave()">Cave!</button></td>
      <td><button (click)="casino()">Casino!</button></td> 
      <td><button (click)="house()">House!</button></td>
    </tr>
</table>
</div>
