<!doctype html>            
<html lang="en">
    <head>
        <meta charset="utf-8">    
        <title>Information</title>
        <!-- <link rel="stylesheet" href="css/styles.css">     -->
    </head>
    <body>
        <h2>Submitted Information:</h2>
            <h4>Name: <%= arr[0] %></h4>
            <h4>Location: <%= arr[1] %></h4>
            <h4>Language: <%= arr[2] %></h4>
            <h4>Comment: <%= arr[3] %></h4>
        <a href="/">Go Back</a>
    </body>
</html>